{% extends 'index.html' %}

{% load static %}

{% block title %}
About
{% endblock title%}

{% block about%}

<!--page header-->
<h1 class="font-weight-bold text-center ">
    <i class="fa-solid fa-b fa-2x" style="color:#63110a;"></i> 
    <i class="fa-solid fa-r fa-2x" style="color:#63110a;"></i> 
    <i class="fa-solid fa-a fa-2x" style="color:#63110a;"></i> 
    <i class="fa-solid fa-b fa-2x" style="color:#63110a;"></i> 
    <i class="fa-solid fa-t fa-2x" style="color:#63110a;"></i> 
</h1>
<h2 class="font-weight-bold text-center ">
    <i class="fa-solid fa-b fa-2x " style="color:#06672B;"></i>
    <i class="fa-solid fa-a text-success"></i>
    <i class="fa-solid fa-n text-primary"></i>
    <i class="fa-solid fa-l text-success"></i>
    <i class="fa-solid fa-a text-primary"></i>
    <i class="fa-solid fa-d text-success"></i>
    <i class="fa-solid fa-e text-primary"></i>
    <i class="fa-solid fa-s text-success"></i>
    <i class="fa-solid fa-h text-primary mr-4"></i> 

    <i class="fa-solid fa-r fa-2x "style="color:#720938;"></i>
    <i class="fa-solid fa-e text-success"></i>
    <i class="fa-solid fa-s text-primary"></i>
    <i class="fa-solid fa-e text-success"></i>
    <i class="fa-solid fa-a text-primary"></i>
    <i class="fa-solid fa-r text-success"></i>
    <i class="fa-solid fa-c text-primary"></i>
    <i class="fa-solid fa-h text-success"></i>
    <i class="fa-solid fa-i text-primary"></i>
    <i class="fa-solid fa-n text-success"></i>
    <i class="fa-solid fa-g text-primary mr-4"></i>

    <i class="fa-solid fa-a fa-2x " style="color:#993E0F;"></i>
    <i class="fa-solid fa-s text-success"></i>
    <i class="fa-solid fa-s text-primary"></i>
    <i class="fa-solid fa-o text-success"></i>
    <i class="fa-solid fa-c text-primary"></i>
    <i class="fa-solid fa-i text-danger"></i>
    <i class="fa-solid fa-a text-primary"></i>
    <i class="fa-solid fa-t text-success"></i>
    <i class="fa-solid fa-i text-primary"></i>
    <i class="fa-solid fa-o text-danger"></i>
    <i class="fa-solid fa-n text-danger"></i>
  
</h2>
<h2 class="font-weight-bold text-center ">
    <i class="fa-solid fa-b fa-2x " style="color:#5A0972;"></i>
    <i class="fa-solid fa-r text-success"></i>
    <i class="fa-solid fa-a text-primary"></i>
    <i class="fa-solid fa-i text-success"></i>
    <i class="fa-solid fa-n m-4 mr-4 text-primary"></i>

    <i class="fa-solid fa-t fa-2x text-danger"></i>
    <i class="fa-solid fa-u text-primary"></i>
    <i class="fa-solid fa-m text-success"></i>
    <i class="fa-solid fa-o text-primary"></i> 
   <i class="fa-solid fa-r  text-danger"></i>
    
</h2>
<!--end-->
<p class="lead text-justify text-black"><i class="fa-solid fa-t fa-3x  " style="color:#63110a;"></i>
    Bangladesh will research in Brain Tumor.Dream just begin and work will future.
</p>
{% endblock about%}