{% extends 'index.html' %}

{% load static %}

{% block title %}
Neurological Doctors of Bangladesh
{% endblock title%}

{% block doctor%}

<div class="bg-gradient bg-secondary">

    <div class="container bg-light my-4 py-4" >
    
        <div class="row">
            <h3 class="font-weight-bold">
                <i class="fa-solid fa-b fa-1x mr-3 " style="color:#123569;">angladesh</i>
                <i class="fa-solid fa-n fa-1x mr-3" style="color:#B5102E;">eurological</i>
                <i class="fa-solid fa-d fa-1x mr-3 " style="color:#9FB314;">octors</i>
                <i class="fa-solid fa-i fa-1x mr-3 " style="color:#123569;">nformation</i>
              </h3>
            
              <ul class="list-group list-group-flush text-center text-primary">
                <li class="list-group-item"><a  href="http://www.whereindoctor.com/2018/08/neurosurgery-specialist-doctor-list-of.html">http://www.whereindoctor.com/2018/08/neurosurgery-specialist-doctor-list-of.html</a></li>
       
              </ul>
        </div>
    </div>
</div>

{% endblock doctor%}