{% extends 'index.html' %}

{% load static %}

{% block title %}
Types of Brain Tumor
{% endblock title%}

{% block types%}
<!--page header-->
<h1 class="font-weight-bold text-center ">
    <i class="fa-solid fa-brain fa-2x" style="color:#63110a;"></i> 
    <i class="fa-solid fa-b fa-2x text-danger"></i>
    <i class="fa-solid fa-r text-success"></i>
    <i class="fa-solid fa-a text-primary"></i>
    <i class="fa-solid fa-i text-success"></i>
    <i class="fa-solid fa-n text-primary"></i> <br>

    <i class="fa-solid fa-t fa-2x text-danger"></i>
    <i class="fa-solid fa-o text-success"></i>
    <i class="fa-solid fa-u text-primary"></i>
    <i class="fa-solid fa-m text-success"></i>
    <i class="fa-solid fa-o text-primary"></i>
    <i class="fa-solid fa-r text-danger"></i>
  Types
</h1>
<!--end-->
<!--first div and contaioner-->
<div class="bg-gradient bg-secondary">

<div class="container bg-light my-4 py-4" >

    <div class="row">
        <!--col 1-->
        <div class="col-7 p-2 m-2">

        <h2 class="font-weight-bold text-black">Over View</h2>
        <p class="lead text-justify text-black"><i class="fa-solid fa-t fa-3x  " style="color:#63110a;"></i>
            here are more than 120 different types of brain tumors, lesions and cysts, which are differentiated by where they occur and what kinds of cells they are made of. Certain types of tumors are typically benign (noncancerous), while others are typically malignant (cancerous). Others may have a 50/50 chance of being cancerous.
       <br><br>
       Some of the tumor types listed below may arise from the bone or other types of tissues outside the brain and may also be called “skull base tumors.” However, their proximity to the brain makes them likely to affect structures of the brain, which is why they are included in this list.
        <br><br>

        <ul class="lead text-justify" style="color:#63110a;">
        <li><a href="#type1" style="color:#8C1947;">Primary brain tumors</li>
        </a>
        <li><a href="#type2" style="color:#8C1947;">Other Benign Brain Lesions and Cysts</li>
        </a>
        <li><a href="#type3" style="color:#8C1947;">Brain Tumors with Variable Grades (From More Benign to Malignant)</li>
        </a>
        <li><a href="#type4" style="color:#8C1947;">Brain Cancer Types: Typically Malignant Brain Tumors</li>
        </a>
        </ul>
        </p>

    </div>

    <!--col 2-->
    <div class="col p-2 m-2">

        <div class="card parent m-4">
            <img style="height: 400px" src="{% static 'image/sym.jpg' %}" class="w-100"
                 class="card-img"
                 alt="brain tumor">
        </div>

    </div>


    </div>
</div>

</div>
<!--end-->

<!--type1 link-->
<h1 class="font-weight-bold text-center " id="type1" name="type1">
  <i class="fa-solid fa-p fa-2x  " style="color:#63110a;"></i>rimary Brain Tumors</h1>

<!--second div and contaioner-->
<div class="bg-gradient bg-light">

    <div class="container bg-white my-4 py-4" >
    
        <div class="row">
            <!--col 1-->
            <div class="col-7 p-2 m-2">
    
            <h3 class="font-weight-bold text-black">Typically Benign Brain Tumors</h3>
            <p class="lead text-justify text-black ">Primary brain tumors originate in your brain. They can developTrusted Source from your:
                <br>
                <ul class="lead text-justify" style="color:#63110a;">
                    <li>Brain cells</li>
                    
                    <li>The membranes that surround your brain, which are called 
                      <a href="https://www.healthline.com/human-body-maps/spine-meninges#1">
                        meninges</a></li>
                    
                    <li>Nerve cells</li>
                    
                    <li>Glands, such as the pituitary of pineal</li>
                    
                    </ul>
<br>
                  </p>
<p class="lead text-justify text-black ">Primary tumors can be benign or cancerous. In adults, the most common types of brain tumors are gliomas and meningiomas.
            </p>
    
        </div>
    
        <!--col 2-->
        <div class="col p-2 m-2">
    
          <div class="card parent m-4">
            <img style="height: 300px" src="{% static 'image/primary.jpg' %}" class="w-100 auto"
                 class="card-img"
                 alt="brain tumor">
        </div>
    
        </div>

      </div>
    </div>
    
    </div>
    <!--end-->        
    

<!--Carousel slide start for card-->
<div class="content bg-gradient bg-dark p-2 mx-2">

<div class="row">
  <div class="col-md-12">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        
      </ol>

      <div class="carousel-inner">

        <div class="carousel-item active"><!--carousel item active 1-->

<!--card start-->
<div class="row"><!--start row 1-->

<div class="col-md-3"><!--col 1-->

    <div class="card h-100 text-black border-primary" style="width: 100%; ">
        <div class="card-header h3 " style="color:#63110a;">Meningioma</div>
      <div class="card-body h-100">
        
        <p class="card-text h4">Meningioma is the most common primary brain tumor, accounting for more than 30% of all brain tumors. Meningiomas originate in the meninges, the outer three layers of tissue that cover and protect the brain just under the skull. Women are diagnosed with meningiomas more often than men. About 85% of meningiomas are noncancerous, slow-growing tumors. Almost all meningiomas are considered benign, but some meningiomas can be persistent and come back after treatment.

        </p>
      </div>
    </div>

  </div>

  <div class="col-md-3"><!--col 2-->

    <div class="card h-100 text-black border-primary" style="width: 100%;">
        <div class="card-header h3" style="color:#63110a;">Pituitary Adenoma</div>
      <div class="card-body h-100">
       
        <p class="card-text h4">Adenoma, a type of tumor that grows in the gland tissues, is the most common type of pituitary tumor. Pituitary adenomas develop from the pituitary gland and tend to grow at a slow rate. About 10% of primary brain tumors are diagnosed as adenomas. They can cause vision and endocrinological problems. Fortunately for patients affected by them, adenomas are benign and treatable with surgery and/or medication.

        </p>
      </div>
    </div>

  </div>

  <div class="col-md-3"><!--col 3-->

    <div class="card h-100 text-black border-primary" style="width: 100%;">
        <div class="card-header h3" style="color:#63110a;">Craniopharyngioma</div>
      <div class="card-body h-100">
       
        <p class="card-text h4">These benign tumors grow near the pituitary gland and can appear as solid tumors or cysts. Craniopharyngiomas often press on nerves, blood vessels or parts of the brain around the pituitary gland. Like adenomas, they can also cause vision and endocrinological issues. They usually affect children and teens as well as adults over the age of 50.

        </p>
      </div>
    </div>

  </div>

  <div class="col-md-3"><!--col 4-->

    <div class="card h-100 text-black border-primary" style="width: 100%;">
        <div class="card-header h3" style="color:#63110a;">Schwannoma</div>
      <div class="card-body h-100">
       
        <p class="card-text h4">Acoustic neuromas (vestibular schwannomas) are benign, slow-growing tumors of the nerve that connects the ear to the brain. Less than 8% of primary brain tumors are acoustic neuromas. They usually develop in middle-aged adults, grow on the nerve sheath — the covering surrounding the nerve fibers — and often cause hearing loss. Schwannomas can also affect the trigeminal nerve. These are called trigeminal schwannomas, which are much less common than vestibular schwannomas and can cause facial 
          pain.
        </p>
      </div>
    </div>

  </div>

</div><!--end row 1-->

<!--end card-->
</div><!--end carousel item active 1-->

<div class="carousel-item"><!--second start carousel item-->

  <!--card start-->
  <div class="row"><!--start row 2-->
  
  <div class="col-md-3"><!--col 1-->
  
      <div class="card h-100 text-black border-primary" style="width: 100%;">
          <div class="card-header h3" style="color:#63110a;">Nasopharyngeal Angiofibroma</div>
        <div class="card-body h-100">
          
          <p class="card-text h4">Nasopharyngeal angiofibroma, also known as juvenile nasopharyngeal angiofibroma, is a benign skull base tumor in the nose that is usually diagnosed in adolescent boys. It is the most common benign tumor of the nasopharynx (the space at the back of the nose that connects the nose with the mouth). It spreads to areas around the nose, causing symptoms such as congestion and 
            nosebleeds.
          </p>
        </div>
      </div>
  
    </div>
  
    <div class="col-md-3"><!--col 2-->
  
      <div class="card h-100 text-black border-primary" style="width: 100%;">
          <div class="card-header h3" style="color:#63110a;">Choroid Plexus Tumor</div>
        <div class="card-body h-100">
         
          <p class="card-text h4">Choroid plexus tumors are rare tumors that are found in the choroid plexus — the part of the brain within its ventricles that produces cerebrospinal fluid. About 90% of these tumors are benign. They most frequently occur in children under the age of 2 and can cause hydrocephalus, a buildup of cerebrospinal fluid, as they grow. This can result in increased pressure on the brain and enlargement of the skull. A rare malignant type of choroid plexus tumor is the choroid plexus 
            carcinoma.
          </p>
        </div>
      </div>
  
    </div>
  
    <div class="col-md-3"><!--col 3-->
  
      <div class="card h-100 text-black border-primary" style="width: 100%;">
          <div class="card-header h3" style="color:#63110a;">Dysembryoplastic Neuroepithelial Tumor</div>
        <div class="card-body h-100">
         
          <p class="card-text h4">This is a type of neuronal-glial brain tumor — it is made of a mix of neurons and supporting cells. Dysembryoplastic neuroepithelial tumors are rare benign tumors that occur in the tissues covering the brain and spinal cord. Typically found in children and teens, these tumors can cause seizures. Other neuronal-glial brain tumors include gangliogliomas, gangliocytomas and rosette-forming 
            tumors.
          </p>
        </div>
      </div>
  
    </div>
  
    <div class="col-md-3"><!--col 4-->
  
      <div class="card h-100 text-black border-primary" style="width: 100%;">
          <div class="card-header h3 " style="color:#63110a;">Neurofibroma</div>
        <div class="card-body h-100">
         
          <p class="card-text h4">Neurofibromas are benign, generally painless tumors that can grow on nerves anywhere in the body. In some cases, these soft, fleshy growths develop in the brain, on cranial nerves or on the spinal cord. Multiple neurofibromas are a symptom of a genetic disorder called neurofibromatosis type 1 
            (NF1).
          </p>
          
        </div>
      </div>
  
    </div>
  
  </div><!--end row 2-->
  
  <!--end card-->
  </div><!--end second carousel item-->


  <div class="carousel-item"><!--thrid start carousel item-->

    <!--card start-->
    <div class="row"><!--start row 3-->
    
    <div class="col-md-3"><!--col 1-->
    
        <div class="card h-100 text-black border-primary" style="width: 100%;">
            <div class="card-header h3" style="color:#63110a;">Hemangioblastoma</div>
          <div class="card-body h-100">
            
            <p class="card-text h4">Hemangioblastomas are benign tumors of the blood vessels that can form in the brain. These tumors can often be removed through surgery. In rare occasions, they can appear in multiple sites and be symptomatic of a hereditary disease called Von Hippel-Lindau. If that is the case, different tests and visits with a specialist such as an ophthalmologist or geneticist may be 
              recommended.
            </p>
          </div>
        </div>
    
      </div>
    
      <div class="col-md-3"><!--col 2-->
    
        <div class="card h-100 text-black border-primary" style="width: 100%;">
            <div class="card-header h3" style="color:#63110a;">Chondroma</div>
          <div class="card-body h-100">
           
            <p class="card-text h4">Chondromas are very rare benign tumors made of cartilage. They can develop in the cartilage found in the skull base and the paranasal sinuses, but they can also affect other body parts such as the hands and feet. Chondromas typically occur in patients between the ages of 10 and 30. While these tumors grow slowly, they may eventually cause the bone to fracture or grow too much, creating pressure on the 
              brain.
            </p>
          </div>
        </div>
    
      </div>
    
      <div class="col-md-3"><!--col 3-->
    
        <div class="card h-100 text-black border-primary" style="width: 100%;">
            <div class="card-header h3" style="color:#63110a;">Giant Cell Tumor</div>
          <div class="card-body h-100">
           
            <p class="card-text h4">Named for their extremely large cells, giant cell tumors are rare bone tumors that usually affect the leg and arm bones. They may also be found in the skull. Most giant cell tumors are benign and occur in patients between 20 and 40 years of 
              age.
            </p>
          </div>
        </div>
    
      </div>
    
      <div class="col-md-3"><!--col 4-->
    
        <div class="card h-100 text-black border-primary" style="width: 100%;">
            <div class="card-header h3 " style="color:#63110a;">Osteoma</div>
          <div class="card-body h-100">
           
            <p class="card-text h4">Osteomas are benign bone tumors (new bone growth) that usually develop on the skull base and facial bones. In general, these slow-growing tumors cause no symptoms. However, if large osteomas grow in certain areas of the brain, they may cause problems with breathing, vision or 
              hearing.
            </p>
            
          </div>
        </div>
    
      </div>
    
    </div><!--end row 3-->
    
    <!--end card-->
    </div><!--end thrid carousel item-->
    
  

</div>

<!--next and Previous terget after carouselExampleIndicators-->
<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>

</div>

</div>
</div>

</div>
<!--Carousel slide end for card-->

<!--doctor opinion-->
<div class="container justify-contain-center text-center my-3">
<p>Doctor please give your opinion about diseases. You have to signup and login.</p>
<button type="button" class="btn btn-danger">
  <a style="color:white;" href="{% url 'user_signup' %}" class="ml-2">Please Signup</a>
</button>
</div>
<!--end doctor opinion-->

    
<!--type2 link-->
<h1 class="font-weight-bold text-center " id="type2" name="type2">
  <i class="fa-solid fa-o fa-2x  " style="color:#63110a;"></i>ther Benign Brain Lesions and Cysts</h1>

<!--three div and contaioner-->
<div class="bg-gradient bg-secondary">

  <div class="container bg-white my-4 py-4" >
  
      <div class="row">
          <!--col 1-->
          <div class="col-6 p-2 m-4">
  
          <h3 class="font-weight-bold text-black">Other primary brain tumors</h3>
          <p class="lead text-justify text-black">Other primary brain tumors include<br>
              <ul class="lead text-justify" style="color:#63110a;">
                  <li>
                    <a href="https://www.healthline.com/health/pituitary-tumor">
                      Pituitary tumors</a>, which are usually benign</li>
                  
                  <li>Pineal gland tumors, which can be benign or malignant</li>
                  
                  <li>Ependymomas, which are usually benign</li>
                  
                  <li>Craniopharyngiomas, which occur mostly in children and are benign but can have clinical
                    symptoms like changes in vision and premature puberty
                  </li>
                  
                  </ul>

          </p>

         
            <img style="height: 300px" src="{% static 'image/others.jpg' %}" class="w-100 m-uto"
                 class="card-img"
                 alt="brain tumor">
     
  
      </div>
  
      <!--col 2-->
      <div class="col p-2 m-2">
  
            <ul class="lead text-justify" style="color:#63110a;">
                <li>Primary central nervous system (CNS) lymphomas, which are malignant</li>
                
                <li>Primary germ cell tumors of the brain, which can be benign or malignant</li>
                
                <li>Meningiomas, which originate in the meninges</li>
                
                <li>
                  <a href="https://www.healthline.com/health/schwannoma">
                    Schwannomas</a>, which originate in cells that produce the protective cover of your nerves (myelin sheath) called Schwann 
                  cells
                </li>
                
                </ul>
      <p class="lead text-justify text-black">Meningiomas are diagnosedTrusted Source more often in women than men, according to a study that grouped participants into men and 
        women.<br><br>
        Schwannomas occurTrusted Source equally in both men and women. These tumors are usually benign, but they can cause complications because of their size and location. Cancerous meningiomas and schwannomas are rare but can be very aggressive.
        </p>

    </div>

    </div>
  </div>
  
  </div>
  <!--end-->    
  
  <!--Carousel slide 2 start for card-->
<div class="content bg-gradient bg-dark p-2 mx-2">

  <div class="row">
    <div class="col-md-12">
  
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          
        </ol>
  
        <div class="carousel-inner">
  
          <div class="carousel-item active"><!--carousel item active 1-->
  
  <!--card start-->
  <div class="row"><!--start row 1-->
  
  <div class="col-md-3"><!--col 1-->
  
      <div class="card h-100 text-black border-primary" style="width: 100%; ">
          <div class="card-header h3 " style="color:#63110a;">Arachnoid Cyst</div>
        <div class="card-body h-100">
          
          <p class="card-text h4">Arachnoid cysts are common benign brain cysts that occur in the membranes surrounding the brain and are filled with cerebrospinal fluid. They are usually present since birth, cause no symptoms, and are often left 
            untreated.
          </p>
        </div>
      </div>
  
    </div>
  
    <div class="col-md-3"><!--col 2-->
  
      <div class="card h-100 text-black border-primary" style="width: 100%;">
          <div class="card-header h3" style="color:#63110a;">Colloid Cyst</div>
        <div class="card-body h-100">
         
          <p class="card-text h4">This is a benign mass that appears in the third ventricle of the brain. It can block the cerebrospinal fluid pathways, causing headaches and hydrocephalus, or can be found completely incidentally. It is often removed with surgery, especially if it causes 
            hydrocephalus.
          </p>
        </div>
      </div>
  
    </div>
  
    <div class="col-md-3"><!--col 3-->
  
      <div class="card h-100 text-black border-primary" style="width: 100%;">
          <div class="card-header h3" style="color:#63110a;">Dermoid or Epidermoid Cyst</div>
        <div class="card-body h-100">
         
          <p class="card-text h4">Dermoid and epidermoid cysts are slow-growing masses that form from leftover skin tissue in embryonal development. They are treated with surgery, and follow-up procedures can be done safely if complete extirpation is not possible during the first 
            surgery.
          </p>
        </div>
      </div>
  
    </div>
  
    <div class="col-md-3"><!--col 4-->
  
      <div class="card h-100 text-black border-primary" style="width: 100%;">
          <div class="card-header h3" style="color:#63110a;">Encephalocele</div>
        <div class="card-body h-100">
         
          <p class="card-text h4">Encephalocele is a sac-like protrusion of the brain and the membranes that cover it through an opening in the skull. This rare birth defect occurs when the neural tube, in which the brain and spinal cord form, fails to close completely during fetal development. Encephaloceles can occur in the base of the skull, at the top or back of the skull, or between the forehead and nose. They can cause deformities in the face and cranium that are repaired with surgery. Each year, about one out of every 10,000 infants born in the United States will have encephalocele, according to the Centers for Disease Control and 
            Prevention.
          </p>
        </div>
      </div>
  
    </div>
  
  </div><!--end row 1-->
  
  <!--end card-->
  </div><!--end carousel item active 1-->
  
  <div class="carousel-item"><!--second start carousel item-->
  
    <!--card start-->
    <div class="row"><!--start row 2-->
    
    <div class="col-md-3"><!--col 1-->
    
        <div class="card h-100 text-black border-primary" style="width: 100%;">
            <div class="card-header h3" style="color:#63110a;">Fibrous Dysplasia</div>
          <div class="card-body h-100">
            
            <p class="card-text h4">Fibrous dysplasia is a rare bone disorder in which scar-like fibrous tissue develops instead of normal bone. As the bone grows, the fibrous tissue gradually expands, weakening the bone. Fibrous dysplasia usually develops in the skull base and facial bones, thighbone, shinbone, ribs, upper arm bone or pelvis. Fibrous dysplasia can lead to pain and broken or deformed bones. Severe deformity of facial bones can cause loss of vision or hearing. In rare cases, an affected bone area may become 
              cancerous.
            </p>
          </div>
        </div>
    
      </div>
    
      <div class="col-md-3"><!--col 2-->
    
        <div class="card h-100 text-black border-primary" style="width: 100%;">
            <div class="card-header h3" style="color:#63110a;">Rathke’s Cleft Cyst</div>
          <div class="card-body h-100">
           
            <p class="card-text h4">Rathke’s cleft cysts are benign fluid-filled growths that slowly develop in the space between the front and back areas of the pituitary gland. Most Rathke’s cleft cysts are found in adults, although they form during fetal development.

            </p>
          </div>
        </div>
    
      </div>
    
      <div class="col-md-3"><!--col 3-->
    
        <div class="card h-100 text-black border-primary" style="width: 100%;">
            <div class="card-header h3" style="color:#63110a;">Petrous Apex Lesion
</div>
          <div class="card-body h-100">
           
            <p class="card-text h4">Petrous apex lesions are abnormalities that occur in the tip of the bone in the skull next to the middle ear. The most common type of petrous apex lesion is a benign cholesterol granuloma, which is a cyst. Other petrous apex lesions include acoustic neuromas and skull base tumors. Most petrous apex lesions are benign. However, patients with other types of cancer may develop metastatic petrous apex lesions.

            </p>
          </div>
        </div>
    
      </div>
    
      <!--<div class="col-md-3">
    
        <div class="card h-100 text-black border-primary" style="width: 100%;">
            <div class="card-header h3 " style="color:#63110a;">Neurofibroma</div>
          <div class="card-body h-100">
           
            <p class="card-text h4">Neurofibromas are benign, generally painless tumors that can grow on nerves anywhere in the body. In some cases, these soft, fleshy growths develop in the brain, on cranial nerves or on the spinal cord. Multiple neurofibromas are a symptom of a genetic disorder called neurofibromatosis type 1 
              (NF1).
            </p>
            
          </div>
        </div>
    
      </div>-->
    
    </div><!--end row 2-->
    
    <!--end card-->
  </div><!--end second carousel item-->

</div>

<!--next and Previous terget after carouselExampleIndicators-->
<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>

</div>

</div>
</div>

</div>
<!--Carousel slide 2 end for card-->

<!--doctor opinion-->
<div class="container justify-contain-center text-center my-3">
  <p>Doctor please give your opinion about diseases. You have to signup and login.</p>
  <button type="button" class="btn btn-danger">
    <a style="color:white;" href="{% url 'user_signup' %}" class="ml-2">Please Signup</a>
  </button>
  </div>
  <!--end doctor opinion-->
  
  

<!--type3 link-->
<h1 class="font-weight-bold text-center " id="type3" name="type3">
  <i class="fa-solid fa-b fa-2x " style="color:#63110a;"></i>rain Tumors with Variable Grades (From More Benign to Malignant)</h1>

<!--four div and contaioner-->
<div class="bg-gradient bg-light">

  <div class="container bg-white my-4 py-4" >
  
      <div class="row">
          <!--col 1-->
          <div class="col-6 p-2 m-4">
            <h3 class="font-weight-bold text-black">Glioma</h3>
            <p class="lead text-justify text-black ">Glioma is a common type of tumor originating in the brain, but it can sometimes be found in the spinal cord. About 33% of all brain tumors are gliomas. These tumors arise from the glial cells that surround and support 
              neurons.   <br><br>
              Gliomas are tumors that develop from glial cells. These cells normally:

              <ul class="lead text-justify" style="color:#63110a;">
                <li>Support the structure of your central nervous system</li>
                
                <li>Provide nutrition to your central nervous system</li>
                
                <li>Clean cellular waste</li>
                
                <li>Break down dead neurons</li>
                
                </ul>

            </p>
            
          </div>
          <!--col 2-->
          <div class="col p-2 m-4">
<!--image-->
            <img style="height: 300px" src="{% static 'image/glioma.jpg' %}" class="w-100 m-auto"
                 class="card-img"
                 alt="brain tumor">
     
<!--details-->
            <p class="lead text-justify text-black ">Gliomas can develop from different types of glial cells.<br>
              The types of tumors that begin in glial cells include:<br>

              <ul class="lead text-justify" style="color:#63110a;">
                <li>Astrocytic tumors, such as astrocytomas, which originate in the cerebrum</li>
                
                <li>Oligodendroglial tumors, which are often found in the frontal temporal lobes</li>
                
                <li>
                  <a href="https://www.healthline.com/health/brain-tumor/glioblastoma">Glioblastomas
                  </a>, which originate in the supportive brain tissue and are the most aggressive type
                  
                </li>
              
                
                </ul>

            </p>

          </div>

          <!--col 3-->
          <div class="col-6 p-2 m-4">
            <h3 class="font-weight-bold text-black">Ependymal Tumors</h3>
            <p class="lead text-justify text-black ">
              Ependymal tumors arise from the lining of the ventricles or the central canal of the spinal cord. They are rare and can appear at any part of the brain or spinal cord. There are different types, including:

              <ul class="lead text-justify" style="color:#63110a;">
                <li>Subependymoma</li>
                
                <li>Myxopapillary ependymoma</li>
                
                <li>Ependymoma: Similar to gliomas, ependymomas can also have specific genetic mutations. Their behavior may be different depending on where they are located in the nervous system.

                </li>
              
                
                </ul>

            </p>
          </div>

          <!--col 4-->
          <div class="col p-2 m-4">
            <h3 class="font-weight-bold text-black">Hemangiopericytoma</h3>
            <p class="lead text-justify text-black ">
              Hemangiopericytomas are rare skull base tumors that involve the blood vessels. While most hemangiopericytomas are found in soft tissues of the legs, pelvic area, head and neck, some may occur in the nasal cavity and paranasal sinuses. These tumors may be benign or malignant.

            </p>
            <!--image-->
            <img style="height: 300px" src="{% static 'image/hem.jpg' %}" class="w-100 m-auto"
                 class="card-img"
                 alt="brain tumor">
          </div>

          <!--col 5-->
          <div class="col-6 p-2 m-4">
            <h3 class="font-weight-bold text-black">Germ Cell Tumors</h3>
            <p class="lead text-justify text-black ">
              During normal development of an embryo and fetus, germ cells usually become eggs (in the female) or sperm (in the male). However, if germ cells travel to the brain by mistake, they can become tumors. Germ cell tumors can be benign or malignant. Some types of germ cell tumors include germinomas, embryonal carcinomas, Yolk sac tumors and teratomas. They are often diagnosed during puberty and tend to affect boys more than girls.

            </p>
            <!--image-->
            <img style="height: 300px" src="{% static 'image/germ.jpg' %}" class="w-100 m-auto"
                 class="card-img"
                 alt="brain tumor">
          </div>

          <!--col 6-->
          <div class="col p-2 m-4">
            <h3 class="font-weight-bold text-black">Pineal Tumors</h3>
            <p class="lead text-justify text-black ">
              Pineal tumors are those tumors that appear in the region of the pineal gland. They are deep in the brain and can cause hydrocephalus by blocking the cerebrospinal fluid pathways. There are different types of pineal tumors with distinct behaviors, including pineocytomas, pineal parenchymal tumors of intermediate differentiation, and pinealoblastomas. Other tumors such a gliomas, teratomas and germ cell tumors can appear in the pineal region. A blood test or a lumbar puncture may be recommended to look for markers that can help the diagnosis of a pineal tumor. In other instances, a surgery for biopsy is recommended.

            </p>
          </div>

        </div>
      </div>
    </div>

    <!--doctor opinion-->
<div class="container justify-contain-center text-center">
  <p>Doctor please give your opinion about diseases. You have to signup and login.</p>
  <button type="button" class="btn btn-danger">
    <a style="color:white;" href="{% url 'user_signup' %}" class="ml-2">Please Signup</a>
  </button>
  </div>
  <!--end doctor opinion-->
  

<!--type4 link-->
<h1 class="font-weight-bold text-center " id="type4" name="type4">
  <i class="fa-solid fa-b fa-2x  " style="color:#63110a;"></i>rain Cancer Types: Typically Malignant Brain Tumors</h1>

<!--five div and contaioner-->
<div class="bg-gradient bg-secondary">

  <div class="container bg-white my-4 py-4" >
  
      <div class="row"><!--row start-->

        <h3 class="font-weight-bold text-black text-center">Secondary brain tumors</h3>

        <p class="lead text-justify text-black ">
          Secondary brain tumors make up the majority of brain cancers. They start in one part of the body and spread, or 
        </p>

          <div class="dropdown">
          <p class=" dropdown-toggle  lead text-justify text-primary "  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            metastasize</p>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <h4 class="dropdown-item text-primary" href="#">PubMed Central</h4><hr>
              <p>Highly respected database from the National Institutes of Health</p>
              <a type="button" class="btn btn-primary"  href="https://pubmed.ncbi.nlm.nih.gov/31780784/">
                Go to source</a>
           
            </div>
            
          </div>

          <p class="lead text-justify text-black ">
            , to the brain. The following can metastasizeTrusted Source to the brain
          :<br>

          <ul class="lead text-justify mx-5" style="color:#63110a;">
            <li><a href="https://www.healthline.com/health/lung-cancer">Lung cancer</a></li>
            
            <li><a href="https://www.healthline.com/health/breast-cancer">Breast cancer</a></li>
            
            <li><a href="https://www.healthline.com/health/kidney-cancer">Kidney cancer</a></li>
            
            <li><a href="https://www.healthline.com/health/skin-cancer#types">Skin cancer</a></li>
            
            </ul>

          </p>
          <p class="lead text-justify text-black ">
            Secondary brain tumors are always malignant. Benign tumors don’t spread from one part of your body to another.
        </p>
      </div>

    </div>

    <!--cancer brain tumor start images-->
<div class="bg-gradient bg-light">

  <div class="container bg-white my-4 py-4" >
  
      <div class="row">

          <!--col 1-->
          <div class="col-6 p-2 m-4">
            <img style="height: 300px" src="{% static 'image/cancer2.jpg' %}" class="w-100 m-uto"
                 
                 alt="brain tumor">
          </div>
          <!--col 2-->
          <div class="col p-2 m-4">
            <img style="height: 300px" src="{% static 'image/cancer1.png' %}" class="w-100 m-uto"
                 
                 alt="brain tumor">
          </div>

        </div>
      </div>
    </div>
    <!--cancer brain tumor end images-->

    <!--Carousel slide 4 start for card-->
<div class="content bg-gradient bg-dark p-2 mx-2">

  <div class="row">
    <div class="col-md-12">
  
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          
        </ol>
  
        <div class="carousel-inner">
  
          <div class="carousel-item active"><!--carousel item active 1-->
  
  <!--card start-->
  <div class="row"><!--start row 1-->
  
  <div class="col-md-3"><!--col 1-->
  
      <div class="card h-100 text-black border-primary" style="width: 100%; ">
          <div class="card-header h3 " style="color:#63110a;">Chordoma</div>
        <div class="card-body h-100">
          
          <p class="card-text h4">Chordomas are a rare form of bone cancer usually found in the base of the skull or the lower back. Less than 1% of all primary brain tumors are diagnosed as chordomas. This type of tumor can invade adjacent bone and put pressure on nearby nerve tissue. Although this tumor is slow-growing and looks apparently benign, it behaves more like a malignant tumor because of its tendency to come back and spread to other areas. Chordomas, while generally aggressive, have a somewhat variable and unpredictable progression.

          </p>
        </div>
      </div>
  
    </div>
  
    <div class="col-md-3"><!--col 2-->
  
      <div class="card h-100 text-black border-primary" style="width: 100%;">
          <div class="card-header h3" style="color:#63110a;">Chondrosarcoma</div>
        <div class="card-body h-100">
         
          <p class="card-text h4">Chondrosarcoma is a malignant bone cancer that mainly affects cartilage. Chondrosarcoma usually develops in patients between the age of 50 and 70. The tumor can begin in cells in the thighbone, arm, pelvis, knee and spine. It may also start in the face bones or skull base. Some of these cancers can be aggressive.

          </p>
        </div>
      </div>
  
    </div>
  
    <div class="col-md-3"><!--col 3-->
  
      <div class="card h-100 text-black border-primary" style="width: 100%;">
          <div class="card-header h3" style="color:#63110a;">Medulloblastoma</div>
        <div class="card-body h-100">
         
          <p class="card-text h4">Medulloblastoma is the most common malignant brain tumor in children. It commonly affects children between ages 5 and 9, and is rare in people over 30. It arises in the cerebellum, a part of the brain located at the base of the skull. There are different types of medulloblastoma, and their aggressivity may change depending on specific mutations of the tumor cells.

          </p>
        </div>
      </div>
  
    </div>
  
    <div class="col-md-3"><!--col 4-->
  
      <div class="card h-100 text-black border-primary" style="width: 100%;">
          <div class="card-header h3" style="color:#63110a;">Olfactory Neuroblastoma</div>
        <div class="card-body h-100">
         
          <p class="card-text h4">Olfactory neuroblastoma, also known as esthesioneuroblastoma, is a very rare malignant tumor that develops in the nose. This tumor likely starts in the olfactory nerve, which transmits impulses related to smell from the nose to the brain. Patients with olfactory neuroblastomas may experience frequent nosebleeds, lose their sense of smell and have difficulty breathing through their nostrils.

          </p>
        </div>
      </div>
  
    </div>
  
  </div><!--end row 1-->
  
  <!--end card-->
  </div><!--end carousel item active 1-->

  <div class="carousel-item"><!--second start carousel item-->
  
    <!--card start-->
    <div class="row"><!--start row 2-->
    
    <div class="col-md-3"><!--col 1-->
    
        <div class="card h-100 text-black border-primary" style="width: 100%;">
            <div class="card-header h3" style="color:#63110a;">Lymphoma</div>
          <div class="card-body h-100">
            
            <p class="card-text h4">Lymphoma is a type of tumor that forms in part of the body’s immune system, the lymphatic system. Lymphomas can spread from other body parts to the brain or form in the brain (primary central nervous system lymphomas). Surgery may be recommended to confirm the tumor type with a biopsy, but primary CNS lymphomas are more often treated with chemotherapy and radiation.

            </p>
          </div>
        </div>
    
      </div>
    
      <div class="col-md-3"><!--col 2-->
    
        <div class="card h-100 text-black border-primary" style="width: 100%;">
            <div class="card-header h3" style="color:#63110a;">Gliosarcoma</div>
          <div class="card-body h-100">
           
            <p class="card-text h4">These tumors are rare types of glioma mixed with other supportive tissues. Gliosarcomas can spread to other areas, and are usually aggressive and resistant to therapy.

            </p>
          </div>
        </div>
    
      </div>
    
      <div class="col-md-3"><!--col 3-->
    
        <div class="card h-100 text-black border-primary" style="width: 100%;">
            <div class="card-header h3" style="color:#63110a;">Rhabdomyosarcoma</div>
          <div class="card-body h-100">
           
            <p class="card-text h4">Rhabdomyosarcoma is a rare form of soft tissue cancer from the muscle. While it can occur in many places in the body, such as the arms and legs, it is often found in the head and neck and the skull base. Children are more likely to develop rhabdomyosarcomas. This can present with problems in the eyes or face. Certain inherited conditions, including neurofibromatosis type 1 (NF1), increase the risk of this disease.

            </p>
          </div>
        </div>
    
      </div>
    
      <div class="col-md-3">
    
        <div class="card h-100 text-black border-primary" style="width: 100%;">
            <div class="card-header h3 " style="color:#63110a;">Paranasal Sinus Cancer</div>
          <div class="card-body h-100">
           
            <p class="card-text h4">Cancer of the paranasal sinuses­­ forms in the tissues lining the hollow spaces in the bones around the nose. This malignant skull base tumor is primarily found in the maxillary sinuses (in the cheekbones under the eyes) and the ethmoid sinuses (beside the upper nose). There are different types of cancers in the paranasal sinuses and treatment may include a combination of surgery, radiation and chemotherapy.

            </p>
            
          </div>
        </div>
    
      </div>
    
    </div><!--end row 2-->
    
    <!--end card-->
  </div><!--end second carousel item-->

</div>

<!--next and Previous terget after carouselExampleIndicators-->
<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>

</div>

</div>
</div>

</div>
<!--Carousel slide 2 end for card-->

</div><!--end row-->


<!--last type-->
<div class="container justify-contain-center text-center m-auto">
<h3 class="font-weight-bold text-black">
  <i class="fa-solid fa-a fa-2x  " style="color:#63110a;"></i>typical Teratoid/Rhabdoid Tumor (AT/RT)</h3>
<p class="lead text-justify text-black m-auto py-2">
  AT/RT is a rare type of embryonal tumor of the central nervous system. It typically affects children 6 and younger, it is fast-growing, and the survival rate is low even with aggressive surgery, radiation and chemotherapy.

</p>
</div>
<!--end type-->

<!--doctor opinion-->
<div class="container justify-contain-center text-center m-auto my-2">
  <p>Doctor please give your opinion about diseases. You have to signup and login.</p>
  <button type="button" class="btn btn-danger">
    <a style="color:white;" href="{% url 'user_signup' %}" class="ml-2">Please Signup</a>
  </button>
  </div>
  <!--end doctor opinion-->
  


{% endblock types%}