{% extends 'index.html' %}

{% load static %}

{% block title %}
Immune-Boosting Foods For Brain Tumor Patients
{% endblock title%}

{% block food %}

<!--start section 1-->
<div class="container">
<h1 class="font-weight-bold text-left ">
    <i class="fa-solid fa-i fa-1x  " style="color:#D41E2F;"></i>
    <i class="fa-solid fa-m fa-1x  " style="color:#E1E823;"></i>
    <i class="fa-solid fa-m fa-1x  " style="color:#15AD1A;"></i>
    <i class="fa-solid fa-u fa-1x  " style="color:#AD4915;"></i>
    <i class="fa-solid fa-n fa-1x  " style="color:#AD154B;"></i>
    <i class="fa-solid fa-e fa-1x  " style="color:#D41E2F;"></i>-

    <i class="fa-solid fa-b fa-1x" style="color:#1A2B4A;"></i>
    <i class="fa-solid fa-o  fa-1x" style="color:#D41E2F;"></i>
    <i class="fa-solid fa-o fa-1x " style="color:#AD154B;"></i>
    <i class="fa-solid fa-s fa-1x " style="color:#15AD1A;"></i>
    <i class="fa-solid fa-t fa-1x " style="color:#E1E823;"></i>
    <i class="fa-solid fa-i fa-1x " style="color:#D41E2F;"></i>
    <i class="fa-solid fa-n fa-1x" style="color:#D44C1E;"></i>
    <i class="fa-solid fa-g fa-1x " style="color:#1C4203;"></i>

    <img style="height: 50px" src="{% static 'image/food1.jpg' %}" class="w-10 m-auto"
                 class="card-img"
                 alt="brain tumor">
</h1>

<h1 class="font-weight-bold text-center ">
    <img style="height: 50px" src="{% static 'image/food2.jpg' %}" class="w-10 m-auto"
                 class="card-img"
                 alt="brain tumor">

    <i class="fa-solid fa-f fa-1x" style="color:#15AD1A;"></i>
    <i class="fa-solid fa-o fa-1x" style="color:#E1E823;"></i>
    <i class="fa-solid fa-o fa-1x" style="color:#D41E2F;"></i>
    <i class="fa-solid fa-d fa-1x" style="color:#1C4203;"></i>
    <i class="fa-solid fa-s fa-1x" style="color:#D44C1E;"></i>

    <img style="height: 50px" src="{% static 'image/food3.png' %}" class="w-10 m-auto"
    class="card-img"
    alt="brain tumor">
</h1>

<h1 class="font-weight-bold text-right ">
    <img style="height: 50px" src="{% static 'image/food4.jpg' %}" class="w-10 m-auto"
                 class="card-img"
                 alt="brain tumor">

    <i class="fa-solid fa-f fa-1x " style="color:#1BA037;"></i>
    <i class="fa-solid fa-o text-success"></i>
    <i class="fa-solid fa-r text-primary"></i>

    <i class="fa-solid fa-b fa-1x text-danger"></i>
    <i class="fa-solid fa-r text-success"></i>
    <i class="fa-solid fa-a text-primary"></i>
    <i class="fa-solid fa-i text-success"></i>
    <i class="fa-solid fa-n text-primary"></i>

    <i class="fa-solid fa-t fa-1x text-danger"></i>
    <i class="fa-solid fa-u text-success"></i>
    <i class="fa-solid fa-m text-primary"></i>
    <i class="fa-solid fa-o text-success"></i>
    <i class="fa-solid fa-r text-primary"></i>

    <i class="fa-solid fa-p fa-1x text-danger"></i>
    <i class="fa-solid fa-a text-success"></i>
    <i class="fa-solid fa-t text-primary"></i>
    <i class="fa-solid fa-i text-success"></i>
    <i class="fa-solid fa-e text-primary"></i>
    <i class="fa-solid fa-n text-danger"></i>
    <i class="fa-solid fa-t text-success"></i>
    <i class="fa-solid fa-s text-primary"></i>
</h1>

</div>
<!--end section 1-->

<!--start section 2-->
<!--three div and contaioner-->
<section class="food-image">

    <div class="container" >
    
        <h3 class="font-weight-bold" style="color:#63110a;">
            <img style="height: 100px" src="{% static 'image/brain.png' %}" class="w-10 m-auto"
                 class="card-img"
                 alt="brain tumor">
                 Brain Tumor Patients Need Immune-Boosting Foods</h3>

        <div class="row">
            <!--col 1-->
            <div class="col-7 mt-5 p-auto">
                <p class="lead text-justify text-black">
                    Now more than ever, staying healthy at home is a top priority for everyone and even more so for patients with malignant brain tumors since 
                    <a href="https://www.ivybraintumorcenter.org/patients/what-to-expect/">cancer treatments</a> such as chemotherapy and radiation can weaken the immune system. One way to stay healthy is to show our bodies love and nourishment with healthy, grounding foods that can help support immune function.<br><br> 

Remember, all diet modifications should be discussed with your doctor to ensure it is the right option for you. 
                </p>
            </div>
            <div class="col mt-4">
                <img class="card-img-top" style="height:400px;" src="{% static 'image/food6.jpg' %}" alt="food image">
            </div>
        </div>
    </div>
</div>
<!--end section 2-->
<!--food image-->
<div class="content">
    <img class="card-img mt-4" style="height:300px;" src="{% static 'image/food7.jpg' %}" alt="food image"> 
</div>
<!--end food image-->

<!--section 2 start-->
<div class="container">
    <div class="row mt-5 mb-5">
        
<div class="card" style="width:500px;">
    <img class="card-img-top" src="{% static 'image/broccoli.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title" style="color:#63110a;">Broccoli</h4>
      <p class="card-text text-black">With numerous vitamins packed inside like vitamin C, A, and E, broccoli is one of the healthiest vegetables you can eat. <br>

        With a quick sauté or roast in the oven, this power-packed veggie will taste delicious and help fuel your body.  </p>
      <a href="https://www.eazypeazymealz.com/garlic-roasted-broccoli/" class="btn btn-primary">broccoli recipe!  </a>
    </div>
  </div>
  <div class="card" style="width:500px;">
    <img class="card-img-top" src="{% static 'image/yogurt.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title" style="color:#63110a;">Yogurt</h4>
      <p class="card-text text-black">Yogurt that contains live and active cultures such as Greek yogurt, can help stimulate your gut flora and help boost your immune system.<br>  

        Yogurt is also a great source of Vitamin D, which helps your body regulate the immune system.<br> 
        
        However, be sure to avoid sugary, pre-flavored yogurts and sweeten them yourself. Use berries, honey, nuts, or cinnamon for simple, healthy additions. </p>
      <a href="https://www.pinterest.com/pin/278589926937436374/" class="btn btn-primary">Yogurt recipe!</a>
    </div>
  </div>

</div>

<!--row2-->
<div class="row mt-5 mb-5">
        
    <div class="card" style="width:500px;">
        <img class="card-img-top" src="{% static 'image/greenleaf.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title" style="color:#63110a;">Dark, leafy greens</h4>
          <p class="card-text text-black">Spinach, kale and arugula are all great sources of inflammation reducing minerals, which aid disease-fighting cells to help support your immune system. <br>

            When paired with fatty nuts and oils, they can be quickly absorbed into your system.</p>
          <a href="https://www.everydayhealth.com/cancer-photos/top-foods-to-fight-cancer.aspx" class="btn btn-primary">Details</a>
        </div>
      </div>
      <div class="card" style="width:500px;">
        <img class="card-img-top" src="{% static 'image/tea.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title" style="color:#63110a;">Tea</h4>
          <p class="card-text text-black">No matter what type of tea you prefer, hot tea can deliver polyphenols and flavonoids which help disease-fighting antioxidants.  <br>

            These antioxidants seek out cell-damaging free radicals and help rid the body of them. <br>
            
            Tea can be a great afternoon caffeine boost without the jittery side effects of coffee.  </p>
          <a href="https://www.nursingtimes.net/clinical-archive/cancer-clinical-archive/tea-coffee-and-brain-cancer-19-10-2010/" class="btn btn-primary">Details</a>
        </div>
      </div>
    
    </div>
    <!--row3-->
    <div class="row mt-5 mb-5">
        
        <div class="card" style="width:500px;">
            <img class="card-img-top" src="{% static 'image/citrus.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title" style="color:#63110a;">Citrus</h4>
              <p class="card-text text-black">We couldn’t forget our go-to for immunity, the vitamin C powerhouse that is citrus.<br>  

                Lemons, limes, oranges, grapefruits and clementines are all in season through early summer, so get moving on these immune-supporting fruits. <br> 
                
                They also contain many vitamins and minerals that continuously help our bodies function properly.</p>
              <a href="https://www.myupchar.com/en/disease/brain-tumour/diet" class="btn btn-primary">recipe!</a>
            </div>
          </div>
          <div class="card" style="width:500px;">
            <img class="card-img-top" src="{% static 'image/pantry.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title" style="color:#63110a;">Pantry favorites</h4>
              <p class="card-text text-black">These are items that can almost always be found in your pantry and remain fresh in your home for a while.
                  <br>Ingredients like: <br>  
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Garlic </li>
                    <li class="list-group-item">Turmeric </li>
                    <li class="list-group-item">Ginger  </li>
                    <li class="list-group-item">Hearty chicken broths </li>

                  </ul>
              </p>
              <a href="https://www.abta.org/what-are-you-eating/" class="btn btn-primary">Details</a>
            </div>
          </div>
        
        </div>

</div>
<!--end section 2-->

<!--section 3 start-->
<div class="container">
  <div class="row mt-5 mb-5">
    <h3 class="text-center">References</h3>
    <ul class="list-group list-group-flush text-center text-primary">
      <li class="list-group-item"><a https: href="https://www.webmd.com/cold-and-flu/ss/slideshow-immune-foods ">https://www.webmd.com/cold-and-flu/ss/slideshow-immune-foods </a></li>
      <li class="list-group-item"><a https: href="https://www.healthline.com/health/food-nutrition/foods-that-boost-the-immune-system#papaya ">https://www.healthline.com/health/food-nutrition/foods-that-boost-the-immune-system#papaya</a></li>
    </ul>

  </div>
</div>
<!--end section 3-->

{% endblock food%}