{% extends 'index.html' %}

{% load static %}

{% block title %}
Hospital List of Bangladesh
{% endblock title%}

{% block hospital%}

<div class="bg-gradient bg-secondary">

    <div class="container bg-light my-4 py-4" >
    
        <div class="row">
            <h3 class="font-weight-bold">
                <i class="fa-solid fa-b fa-1x mr-3 " style="color:#123569;">angladesh</i>
                <i class="fa-solid fa-n fa-1x mr-3" style="color:#B5102E;">eurological</i>
                <i class="fa-solid fa-h fa-1x mr-3" style="color:#9FB314;">ospital</i>
                <i class="fa-solid fa-l fa-1x mr-3 " style="color:#123569;">ist</i>
              </h3>
            
              <ul class="list-group list-group-flush text-center text-primary">
                <li class="list-group-item"><a  href="https://www.bdspecializedhospital.com/department/neurosurgery">https://www.bdspecializedhospital.com/department/neurosurgery</a></li>
       
              </ul>
              <ul class="list-group list-group-flush text-center text-primary">
                <li class="list-group-item"><a  href="https://www.cmch-vellore.edu/">CMC(CHRISTIAN MEDICAL COLLEGE),VELLORE</a></li>
       
              </ul>

        </div>
    </div>
</div>


{% endblock hospital%}