{% extends 'index.html' %}

{% load static %}

{% block title %}
Introduction
{% endblock title%}

{% block details%}

<!--full body and container first.then row and col 2-->
<div class="bg-white">
    <div class="container bg-light my-4 py-4" >

        <div class="row">
            <!--col 1-->
            <div class="col p-2 m-2">
             
<h1 class="font-weight-bold">Over View</h1>
<p class="lead text-justify">A brain tumor is an abnormal growth of cells inside the brain or skull;
 some are benign, others malignant. Tumors can grow from the brain tissue 
 itself (primary), or cancer from elsewhere in the body can spread to the 
 brain (metastasis). Treatment options vary depending on the tumor type, 
 size and location. Treatment goals may be curative or focus on relieving 
 symptoms. Many of the 120 types of brain tumors can be successfully treated. 
 New therapies are improving the life span and quality of life for many people.</p>

<!--important start eng to bangla convert-->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary text-center" style="width: 200px;" data-toggle="modal" data-target="#exampleModalLong">
  English To Bangla Convert
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        মস্তিষ্কের টিউমার হল মস্তিষ্ক বা খুলির ভিতরে কোষের অস্বাভাবিক বৃদ্ধি; কিছু সৌম্য, অন্যরা ম্যালিগন্যান্ট। টিউমার মস্তিষ্কের টিস্যু থেকেই বাড়তে পারে (প্রাথমিক), বা শরীরের অন্য কোথাও থেকে ক্যান্সার মস্তিষ্কে ছড়িয়ে যেতে পারে (মেটাস্টেসিস)। টিউমারের ধরন, আকার এবং অবস্থানের উপর নির্ভর করে চিকিত্সার বিকল্পগুলি পরিবর্তিত হয়। চিকিত্সার লক্ষ্যগুলি নিরাময়মূলক হতে পারে বা লক্ষণগুলি উপশমের দিকে মনোনিবেশ করতে পারে। 120 ধরনের ব্রেন টিউমারের অনেকগুলি সফলভাবে চিকিত্সা করা যেতে পারে। নতুন থেরাপি অনেক লোকের জীবনকাল এবং জীবনযাত্রার মান উন্নত করছে।</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!--eng to bangla convert-->

</div>

 <!--col 2-->
    <div class="col p-2 m-4">
        <div class="card parent m-4">
            <img style="height: 400px" src="https://i.postimg.cc/KvzXWV8Q/sym.jpg" class="w-100"
                 class="card-img"
                 alt="brain tumor">
        </div>
    </div>


</div>
</div>


<!--second container-->
<div class="container bg-light my-4 py-4" >

    <div class="row">

        <div class="col p-2 m-2">
            <h1 class="font-weight-bold">What is brain tumor?</h1>
 <p class="lead text-justify">
    A brain tumor is a collection, or mass, of abnormal cells in your brain. Your skull, 
    which encloses your brain, is very rigid. Any growth inside such a restricted space can cause 
    problems.<br>

    Brain tumors can be cancerous (malignant) or noncancerous (benign). When benign or malignant tumors grow, 
    they can cause the pressure inside your skull to increase. This can cause brain damage, and it can be 
    life-threatening.<br><br>
    Brain tumors are categorized as primary or secondary:<br><br>
    1.A primary brain tumor originates in your brain. Many primary brain tumors are benign.<br>
    2.A secondary brain tumor, also known as a metastatic brain tumor, occurs when cancer cells 
 </p>
    <!--modal use for text spread ar jonno--> 
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    spread
  </button>
  <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Trusted Source</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h2>PubMed Central</h2><hr>
          <p class=" h4">Highly respected database from the National Institutes of Health
            Go to source</p>
            <a type="button" class="btn btn-primary"  href="https://pubmed.ncbi.nlm.nih.gov/31780784/">
                Go to source</a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
    
    
  <p class="lead text-justify">to your brain from another organ, such as your lung or breast.
 </p>
        </div>

        <div class="col p-2 m-4">
            <div class="card parent m-4">
                <img style="height: 400px" src="https://i.postimg.cc/L5dQ5Y3y/1-13829.jpg" class="w-100"
                     class="card-img"
                     alt="brain tumor">
            </div>
        </div>

    </div>
</div>
<!--end-->

<!--section 3-->
<div class="bg-light">
    <div class="container bg-white my-4 py-4" >
        <h1 class="font-weight-bold">Benign vs. malignant brain tumors</h1>
        <p class="lead text-justify">Though benign brain tumors can cause many serious issues, they are not cancerous, meaning that they grow slowly and don’t typically spread to other 
            tissues.<br>
            They also usually have more clearly defined borders, making them easier to remove surgically, and they don’t usually come back after 
            removal.<br>
            On the other hand, malignant brain tumors are cancerous, grow rapidly, and can spread to other parts of your brain or 
            <a href="https://www.healthline.com/human-body-maps/nervous-system#1">
                central nervous system,</a>
             which can cause life-threatening 
            complications.
        </p>
    </div>
    </div>
<!--end-->


{% endblock details%}
