{% extends 'index.html' %}

{% load static %}

{% block title %}
Sign and Symptoms of Brain Tumor
{% endblock title%}

{% block symptom%}

<div class="container bg-light my-4 py-4"><!--start symptom images-->

<!--start carousel-->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active"><!--start 1 carousel item-->
        

        <!--card start-->
<div class="row"><!--start row 1-->

    <div class="col-md-4"><!--col 1-->

        <div class="card" style="width: 350px;">
            <img class="card-img-top" style="height:200px;" src="{% static 'image/headache.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text text-center">Headaches</p>
            </div>
          </div>

        </div><!--end col 1-->

        <div class="col-md-4"><!--col 1-->

            <div class="card" style="width: 350px;">
                <img class="card-img-top" style="height:200px;" src="{% static 'image/seizure.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text text-center">Seizures</p>
                </div>
              </div>
    
            </div><!--end col 1-->

            <div class="col-md-4"><!--col 1-->

                <div class="card" style="width: 350px;">
                    <img class="card-img-top" style="height:200px;" src="{% static 'image/memoryloss.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text text-center"> Memory Loss</p>
                    </div>
                  </div>
        
                </div><!--end col 1-->

            </div><!--end row 1-->
            <!--end card-->

      </div><!--end carousel 1-->

      <div class="carousel-item"><!--start 2 carousel item-->

        <!--card start-->
<div class="row"><!--start row 2-->

    <div class="col-md-4"><!--col 1-->

        <div class="card" style="width: 350px;">
            <img class="card-img-top" style="height:200px;" src="{% static 'image/depression.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text text-center"> Depression and Mood Swings</p>
            </div>
          </div>

        </div><!--end col 1-->

        <div class="col-md-4"><!--col 2-->

            <div class="card" style="width: 350px;">
                <img class="card-img-top" style="height:200px;" src="{% static 'image/vision.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text text-center">Vision Changes</p>
                </div>
              </div>
    
            </div><!--end col 2-->

            <div class="col-md-4"><!--col 3-->

                <div class="card" style="width: 350px;">
                    <img class="card-img-top" style="height:200px;" src="{% static 'image/balance.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text text-center"> Body's Balance Problem</p>
                    </div>
                  </div>
        
                </div><!--end col 3-->

            </div><!--end row 2-->
            <!--end card-->

       
      </div><!--end 2 carousel item-->

      

    </div>
  </div>
<!--end carousel-->
</div><!--end symptom images-->

<!--title name-->
<h1 class="font-weight-bold text-center ">
  <i class="fa-solid fa-c fa-2x  " style="color:#63110a;"></i>ommon Brain Tumor Symptoms</h1>

 <div class="content p-5 mx-2 "><!--Common Brain Tumor Symptoms-->
  
      <div class="row text-center ">
         
            <p class="lead text-justify text-black">Brain tumor symptoms are usually related to where a tumor is located. These are called focal symptoms. There are different ways in which brain tumors can cause these symptoms. Typically, as a brain tumor grows, it presses on the normal tissue around it. The pressure disrupts normal brain functioning, causing symptoms. This pressure is often called mass effect or intracranial pressure (ICP). Other causes of symptoms include swelling (edema) around the tumor, and a build-up of cerebrospinal fluid (hydrocephalus) caused by the 
              tumor.<br><br>
              Below is a list of common brain tumor signs and symptoms, along with suggestions for ways to reduce their impact on your life.

            </p>

<!--important start eng to bangla convert-->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary text-center" style="width: 200px;" data-toggle="modal" data-target="#exampleModalLong">
  English To Bangla Convert
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ব্রেন টিউমারের লক্ষণগুলি সাধারণত টিউমার কোথায় অবস্থিত তার সাথে সম্পর্কিত। এগুলোকে ফোকাল লক্ষণ বলা হয়। মস্তিষ্কের টিউমার এই লক্ষণগুলির কারণ হতে পারে এমন বিভিন্ন উপায় রয়েছে। সাধারণত, মস্তিষ্কের টিউমার বাড়ার সাথে সাথে এটি তার চারপাশের স্বাভাবিক টিস্যুতে চাপ দেয়। চাপের ফলে মস্তিষ্কের স্বাভাবিক কার্যকারিতা ব্যাহত হয়, যার ফলে উপসর্গ দেখা দেয়। এই চাপকে প্রায়ই গণ প্রভাব বা ইন্ট্রাক্রানিয়াল প্রেসার (ICP) বলা হয়। উপসর্গের অন্যান্য কারণগুলির মধ্যে রয়েছে টিউমারের চারপাশে ফোলাভাব (এডিমা), এবং টিউমারের কারণে সেরিব্রোস্পাইনাল ফ্লুইড (হাইড্রোসেফালাস) জমা হওয়া।

        নীচে সাধারণ মস্তিষ্কের টিউমার লক্ষণ এবং উপসর্গগুলির একটি তালিকা, আপনার জীবনের উপর তাদের প্রভাব কমানোর উপায়গুলির জন্য পরামর্শ সহ।
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!--eng to bangla convert-->

        </div>

        </div>
      </div>
    

<!--first div and contaioner for symptom list-->
<div class="content">
<div class="container bg-light my-4 py-4" id="symid" >
  <div class="list-group"><!--list 1-->
    Headaches

    <p class="text-right">Click
      <a class="btn" style="color:#63110a;" data-toggle="collapse" href="#col1" role="button" aria-expanded="false" aria-controls="col1">
        <i class="fa-solid fa-head-side-virus fa-2x"></i>
      </a>
      
    </p>
    <div class="collapse" id="col1">
      <div class="card card-body">
        <p>Among the most common of all brain tumor symptoms, headaches have a range of types and causes. About half of all people with a brain tumor report experiencing headaches.<br>

          Brain tumor-related headaches are generally the result of the tumor (or tumor-related fluid buildup) pressing against the brain’s sensitive blood vessels and nerves.<br>
          
          Many brain tumor patients describe their headaches as a persistent pain with the following features:</p>
          <ul class="list-group">
            <li class="list-group-item disabled">Steady pain, but different than a migraine headache</li>
            <li class="list-group-item">Worse when you first wake up, getting a bit better over the next few hours</li>
            <li class="list-group-item">May be accompanied by vomiting</li>
            <li class="list-group-item">May be accompanied by new neurological problems</li>
            <li class="list-group-item">May or may not be throbbing (depending on the tumor’s location)</li>
            <li class="list-group-item">May get worse with coughing, exercise, or a change in position</li>
            <li class="list-group-item">Often does not respond to over-the-counter pain medication (like aspirin or ibuprofen)</li>
          </ul>
      </div>
    </div>  

    Seizures 

   <p class="text-right">Click
     <a class="btn" style="color:#63110a;" data-toggle="collapse" href="#col2" role="button" aria-expanded="false" aria-controls="col2">
       <i class="fa-solid fa-head-side-virus fa-2x"></i>
     </a>
     
   </p>
   <div class="collapse" id="col2">
     <div class="card card-body">
       <p>A seizure is an episode caused by abnormal electrical activity in the brain. Normally, your body’s nerve cells communicate with each other through carefully controlled electrical signals. If something interferes with these signals, or communication pathways become compressed, stretched, or blocked, it can result in a seizure.
<br>
        There are many different types of seizures, depending on which area of the brain has the abnormal electrical signals. These types include generalized and focal.
        <br>
        Common features of a generalized seizure include:<br></p>
        <ul class="list-group">
          <li class="list-group-item disabled">Sudden onset</li>
          <li class="list-group-item">Loss of consciousness and body limpness followed by twitching and relaxing muscle contractions</li>
          <li class="list-group-item">Loss of control of bodily functions</li>
          <li class="list-group-item">Short periods of no breathing (30 seconds); skin may turn dusky blue</li>
          <li class="list-group-item">Short duration (2-3 minutes)</li>
        </ul>
        <p>After the seizure passes, the person may feel sleepy or confused, have a headache or sore muscles, or experience brief weakness or numbness.
          <br><br>
          Common features of a focal seizure include:
        </p>
        <ul class="list-group">
          <li class="list-group-item disabled">Flashing lights</li>
          <li class="list-group-item">Rhythmic jerking movements of the face, arm</li>
          <li class="list-group-item">Altered spatial perception</li>
          <li class="list-group-item">Sudden speech difficulties</li>
     
        </ul>
        Seizures can be common in people with brain tumors. In some cases, a seizure is the first clue that an individual has a brain tumor.
     </div>
   </div>  

   Fatigue

    <p class="text-right">Click
      <a class="btn" style="color:#63110a;" data-toggle="collapse" href="#col3" role="button" aria-expanded="false" aria-controls="col3">
        <i class="fa-solid fa-head-side-virus fa-2x"></i>
      </a>
      
    </p>
    <div class="collapse" id="col3">
      <div class="card card-body">
        The National Comprehensive Cancer Network describes fatigue as “a distressing, persistent, subjective sense of physical, emotional, and/or cognitive tiredness or exhaustion related to cancer that is not proportional to recent activity and interferes with usual functioning.” It is a common brain tumor symptom which can include:
        <br>
        <ul class="list-group">
          <li class="list-group-item disabled">A profound lack of energy</li>
          <li class="list-group-item">Feeling suddenly tired</li>
          <li class="list-group-item">Generalized weakness</li>
          <li class="list-group-item">Limb heaviness</li>
          <li class="list-group-item disabled">Difficulty concentratings</li>
          <li class="list-group-item">Irritability or emotional reactivity</li>
          <li class="list-group-item">Sleeplessness</li>
          <li class="list-group-item">Increased need to rest</li>
          <li class="list-group-item disabled">Decreased motivation</li>
          <li class="list-group-item">Difficulty completing daily tasks</li>
          <li class="list-group-item">Perceived problems with short-term memory</li>
          
        </ul>
      </div>
    </div>  

    Nausea and vomiting 

   <p class="text-right">Click
     <a class="btn" style="color:#63110a;" data-toggle="collapse" href="#col4" role="button" aria-expanded="false" aria-controls="col4">
       <i class="fa-solid fa-head-side-virus fa-2x"></i>
     </a>
     
   </p>
   <div class="collapse" id="col4">
     <div class="card card-body">
      Nausea is feeling sick to your stomach and feeling as if you may vomit. Nausea and vomiting are often caused by intracranial pressure due to the tumor, inflammation (edema), or cerebrospinal fluid build-up (called hydrocephalus). Hydrocephalus happens when a tumor blocks the normal flow of cerebrospinal fluid.
     </div>
   </div>  

   Memory loss

   <p class="text-right">Click
     <a class="btn" style="color:#63110a;" data-toggle="collapse" href="#col5" role="button" aria-expanded="false" aria-controls="col5">
      <i class="fa-solid fa-head-side-virus fa-2x"></i>
     </a>
     
   </p>
   <div class="collapse" id="col5">
     <div class="card card-body">
      Brain tumors can disrupt brain function and affect our ability to learn and remember new information. Short-term memory is where we store information we need to remember for just a few seconds or minutes. Remembering a phone number we’re just about to dial is an example. Long-term memory is for information that is stored for more than just a few minutes. Our family’s names are stored in our long-term memories. For people with brain tumors, short-term memory is most commonly affected.
     </div>
   </div>  

   Depression and mood swings

  <p class="text-right">Click
    <a class="btn" style="color:#63110a;" data-toggle="collapse" href="#col6" role="button" aria-expanded="false" aria-controls="col6">
      <i class="fa-solid fa-head-side-virus fa-2x"></i>
    </a>
    
  </p>
  <div class="collapse" id="col6">
    <div class="card card-body">
      Clinical depression (also called Major Depressive Disorder) goes far beyond a case of “the blues” or sadness. Depression is persistent and can interfere with many aspects of daily life. Symptoms may include a prolonged feeling of sadness, loss of interest or pleasure in things that used to be enjoyable, feelings of worthlessness or guilt, changes in sleep patterns, decreased energy, and even thoughts of suicide.<br><br>

Mood swings are sudden, unexplained changes in mood. You can be content one moment, and very angry the next without any reason.<br><br>

Depression and mood swings are common among both brain tumor patients and their loved ones. Estimates suggest that more than 1 in 4 people with a brain tumor experience a major depressive disorder.<br><br>

Depression and mood swings can be caused by the tumor disrupting brain function. They can also be a psychological reaction to a brain tumor diagnosis and adjusting to this new impact on life. Tumors in the frontal and temporal lobes more commonly cause mood-related symptoms.<br>
    </div>
  </div>  

  Personality and behavior changes (neuropsychiatric symptoms)

  <p class="text-right">Click
    <a class="btn" style="color:#63110a;" data-toggle="collapse" href="#col7" role="button" aria-expanded="false" aria-controls="col7">
      <i class="fa-solid fa-head-side-virus fa-2x"></i>
    </a>
    
  </p>
  <div class="collapse" id="col7">
    <div class="card card-body">
      Brain tumors can cause a number of symptoms that present as or overlap mental health disorders. They often look like significant changes in the patient’s personality, behavior, mood and/or thinking. If untreated, these symptoms, also known as neuropsychiatric symptoms, can cause distress for the patient and their loved ones.<br><br>

Changes in personality and behavior are one of the most challenging symptoms for caregivers to live with. Someone who was once driven and motivated before a brain tumor diagnosis can now be passive and inhibited. Or someone who was once described as sweet and kind could become irritable and controlling. Loved ones can feel frustration or sense of loss for the person they knew “before.”<br><br>

Other examples of neuropsychiatric symptoms include aggression, delusion, hallucination, impulsivity, mania, paranoia, psychosis, and violent behavior. In extreme cases, these changes can lead to situations in which the person, their caregiver, loved ones or others are placed at risk.<br><br>

Neuropsychiatric symptoms related to a brain tumor can have several causes, including tumor location, injury caused by the tumor, age, general health, the psychological and emotional effects of brain tumors, and other health issues.<br>
    </div>
  </div>  

  Cognitive changes

 <p class="text-right">CLICK
   <a class="btn" style="color:#63110a;" data-toggle="collapse" href="#col8" role="button" aria-expanded="false" aria-controls="col8">
     <i class="fa-solid fa-head-side-virus fa-2x"></i>
   </a>
   
 </p>
 <div class="collapse" id="col8">
   <div class="card card-body">
    Changes in cognitive function are a common symptom among brain tumor patients. In some cases, these changes are so subtle that the patients themselves are more aware of their difficulties than are those around them. In others, it is the caregiver rather than the patient who first recognizes that something is different.<br><br>

    Cognitive changes commonly fall into a few broad categories:<br>
    <ul class="list-group">
      <li class="list-group-item disabled">Learning and memory: Difficulty learning and recalling new information or experiences.</li>
      <li class="list-group-item">Language and communication:Difficulty with word finding and communication (speaking, reading, and/or writing).</li>
      <li class="list-group-item">Attention and concentration:Confusion, distracted easily, difficulty multitasking and planning.</li>
      <li class="list-group-item">Executive functioning/general intellectual abilities: Decreased reasoning ability, impaired judgment, inability to connect cause and effect.</li>
    </ul><br>
    The tumor’s location, size, and growth rate can have a lot to do with how a person thinks and acts. Cognitive changes often depend on the area of the brain affected by the tumor.<br>
   </div>
 </div>  

 Cranial nerve symptoms

 <p class="text-right">Click
   <a class="btn" style="color:#63110a;" data-toggle="collapse" href="#col9" role="button" aria-expanded="false" aria-controls="col9">
     <i class="fa-solid fa-head-side-virus fa-2x"></i>
   </a>
   
 </p>
 <div class="collapse" id="col9">
   <div class="card card-body">
    There are various nerves in the brain that help with functions such as hearing, seeing, and facial movement. These are called cranial nerves. Tumors can grow on or near these nerves, causing symptoms related to the nerve’s function, including:<br>
    <ul class="list-group">
      <li class="list-group-item disabled">Hearing issues: ringing, buzzing, or loss of hearing in one or both ears.</li>
      <li class="list-group-item">Balance problems: difficulty walking or standing.</li>
      <li class="list-group-item">Decreased muscle control: weakness of some facial muscles</li>
        <li class="list-group-item disabled">Decreased sensation: facial numbness or pain</li>
        <li class="list-group-item">Trouble swallowing</li>
        <li class="list-group-item">Vision problems</li>
    </ul> 
    Cranial nerve symptoms are caused by a tumor that has grown on or near a cranial nerve. The pressure of the tumor disrupts the nerve’s functioning, causing the symptoms. 
   </div>
 </div>  

 Vision changes

<p class="text-right">Click
  <a class="btn" style="color:#63110a;" data-toggle="collapse" href="#col11" role="button" aria-expanded="false" aria-controls="col11">
    <i class="fa-solid fa-head-side-virus fa-2x"></i>
  </a>
  
</p>
<div class="collapse" id="col11">
  <div class="card card-body">
    Vision problems can develop when a tumor places pressure on a certain area of the brain, most commonly the occipital lobe or the optic nerve.<br><br>

Brain tumors can lead to vision problems such as:<br>
<ul class="list-group">
  <li class="list-group-item disabled">Blurred vision</li>
  <li class="list-group-item">Double vision</li>
  <li class="list-group-item">Abnormal eye movements</li>
  <li class="list-group-item">Sensitivity to light</li>
  <li class="list-group-item">Loss of vision (partial or complete)</li>
</ul>
  </div>
</div>  


 
  </div><!--end list group-->

  </div>
</div><!--END container-->

<!--title name 2 and section also 2-->
<h1 class="font-weight-bold text-center ">
  <i class="fa-solid fa-s fa-2x  " style="color:#63110a;"></i>ymptoms by location</h1>

  <div class="content bg-gradient bg-dark p-2 mx-2 my-2"><!--start-->

    <div class="row"><!--row 1-->

      <div class="col-6">
<!--card divided-->
<div class="card " >
  <div class="card-body">
    <h5 class="card-title h3" style="color:#63110a;">Frontal Lobe</h5>
    <ul class="list-group">
      <li class="list-group-item active">Movement on the opposite side of the tumor</li>
      <li class="list-group-item">Reasoning</li>
      <li class="list-group-item">Speech</li>
      <li class="list-group-item">Behavior and emotion</li>
    </ul>
    Frontal Tumors can cause a lack of interest in an individual’s surroundings, behavior and personality changes, as well as mood swings. Problem solving may become difficult. When the person cannot “remember” words, it may be difficult to express thoughts in speech or writing. The frontal lobe also plans and begins the sequences of movement.
  </div>
</div>

</div>

<div class="col">
<div class="card card" >
  <div class="card-body">
    <h5 class="card-title h3" style="color:#63110a;">Parietal Lobe</h5>
    <ul class="list-group">
      <li class="list-group-item active">Sensation</li>
      <li class="list-group-item">Spatial relations
      </li>
    </ul>
    Parietal tumors can cause a decreased awareness of sensation against the body on the opposite side of the tumor. Difficulty recognizing body position or body parts may be noticed. This is known as “neglect”. If the tumor is in the dominant (usually left) hemisphere, confusion of the left and right sides of the body may occur. The parietal lobe is also associated with mathematical operations. Numbers can be read, but the loss of recognition of left-right or up-down positioning can make it difficult to add, multiply or comprehend material presented in side-by-side columns.
  </div>
</div>

</div>

<div class="col-6 pt-4">
  <!--card divided-->
  <div class="card " >
    <div class="card-body">
      <h5 class="card-title h3" style="color:#63110a;">Temporal Lobe</h5>
      <ul class="list-group">
        <li class="list-group-item active">Memory</li>
        <li class="list-group-item">Hearing & Vision Pathways</li>
        <li class="list-group-item ">Behavior and emotion</li>
      </ul>

      Temporal tumors can disrupt normal learning and memory processes causing difficulty remembering recent events.  The temporal lobe also controls the ability to hear and understand what is heard. Behavior changes may occur such as irritability, aggression, confusion, depression, anxiety, and mood swings.


    </div>
  </div>
  
  </div>
  
  <div class="col">
  <div class="card card" >
    <div class="card-body">
      <h5 class="card-title h3" style="color:#63110a;">Occipital Lobe</h5>
      <ul class="list-group">
        <li class="list-group-item active">Vision</li>
      </ul>
      The occipital lobe is mainly responsible for interpreting the visual world. It relays information to other parts of the brain, by giving meaning to what is seen. Due to the occipital lobe having complicated visual connections, a tumor in this area can cause various forms of visual loss, visual hallucinations, difficulty recognizing everyday objects, familiar faces or words, and can inhibit the ability to connect meaning to what is visually seen.
    </div>
  </div>
  
  </div>
  
  <div class="col-6 pt-4">
    <div class="card card" >
      <div class="card-body">
        <h5 class="card-title h3" style="color:#63110a;">Cerebellum</h5>
        <ul class="list-group">
          <li class="list-group-item active">Balance</li>
          <li class="list-group-item">Coordination</li>
        </ul>
        The cerebellum is the part of the brain at the back of the skull which coordinates and regulates muscle movement. It helps to maintain posture, balance, and equilibrium. A brain tumor in the cerebellum may cause uncoordinated muscle movements, difficulty balancing, and problems walking.
        <img style="height: 250px" src="{% static 'image/cerebellum.jpg' %}" class="w-100 m-auto"
                 class="card-img"
                 alt="brain tumor">
      </div>
    </div>
    
    </div>
    <div class="col">
      <div class="card card" >
        <div class="card-body">
          <h5 class="card-title h3" style="color:#63110a;">Brain Stem</h5>
          <ul class="list-group">
            <li class="list-group-item active">Vision</li>
          </ul>
          The brain stem is divided into three sections:<br><br>

– Midbrain: the smallest of the three sections. It connects the forebrain with the pons and cerebellum.<br>
<br>
– Pons: the largest part of the brainstem located above the medulla. It is a group of nerves that connects the cerebrum and cerebellum. The nerves transfer sensory information and motor movements to and from the brain.<br>
<br>
– Medulla: the lowest part of the brain and portion of the brainstem. It transmits signals between the spinal cord and brain controlling involuntary activities such as heartbeat and breathing.<br>

 Brain stem tumors often cause vomiting and a clumsy gait (walking), affect tongue movements (making swallowing and speaking difficult), one-sided hearing loss, unusual eye movements leading to dizziness or unsteadiness in walking, double vision, weakness of arms or legs, and difficulty swallowing.<br><br>
        </div>
      </div>
      
      </div>

      <div class="col-6 ">
        <!--card divided-->
        <div class="card " >
          <div class="card-body">
            <h5 class="card-title h3" style="color:#63110a;">Optic Nerve</h5>
            <ul class="list-group">
              <li class="list-group-item active">Vision</li>
             
            </ul>
            Optic nerve tumors can reduce visual accuracy. The location of the tumor along the nerve determines what part of the visual field is lost. A tumor of the optic chiasm (where the optic nerves cross) can cause visual loss in both eyes.
          </div>
        </div>
        
        </div>
        
        <div class="col pt-4">
        <div class="card card" >
          <div class="card-body">
            <h5 class="card-title h3" style="color:#63110a;">Cerebellar-Pontine Angle</h5>
            Cerebellar-pontine angle tumors (such as acoustic neuromas) cause pressure on the seventh and eighth cranial nerves, affecting hearing, balance and facial movement. Ringing in the ears or a one-sided hearing loss (often first noticed when using the telephone) may occur. Dizziness and one-sided facial weakness are common. Vertigo, the sensation of the room spinning, is a common symptom from tumors in this area.
          </div>
        </div>
        
        </div>    
        
        <div class="col-6 pt-4">
          <!--card divided-->
          <div class="card " >
            <div class="card-body">
              <h5 class="card-title h3" style="color:#63110a;">Sellar area</h5>
              Hypothalamic and pituitary tumors can disturb appetite and the desire for food. A tumor in this area may change the amount of hormones made by the pituitary gland. Excess hormone production can lead to lack of menstrual periods (amenorrhea), production of breast milk without pregnancy (galactorrhea), excessive growth (acromegaly or gigantism), Cushing’s syndrome, and/or hyperactive thyroid.
<br><br>
Hormonally nonfunctioning tumors usually have symptoms of headache, visual loss, fatigue and loss of energy. The latter symptoms are caused by hypopituitarism, where your pituitary gland fails to produce one or more hormones. This results from compression of the normal pituitary gland by the tumor.
<br><br>
Headache, vision changes, sleep and eating disorders, water balance problems, obesity, sleep disturbances, emotional changes, and excessive thirst and urination (diabetes insipidus) may also be noted. Sexual development may be delayed or advanced, or sexual desire may also change.
<br>

            </div>
          </div>
          
          </div>
          
          <div class="col pt-4">
          <div class="card card" >
            <div class="card-body">
              <h5 class="card-title h3" style="color:#63110a;">Thalamus</h5>
              The thalamus is located near the center of the brain. It plays a role in different senses (e.g., vision, hearing), movement, memory, and alertness. Thalamic tumors may cause sensory changes on one side of the body or tremors during purposeful movement.
              <img style="height: 290px" src="{% static 'image/thalamus.png' %}" class="w-100 m-auto"
                 class="card-img"
                 alt="brain tumor">
            </div>
          </div>
        </div>         
        
        <div class="col-6 pt-4">
          <!--card divided-->
          <div class="card " >
            <div class="card-body">
              <h5 class="card-title h3" style="color:#63110a;">Posterior Fossa</h5>
              The posterior fossa is a small space in the skull, found near the brainstem and cerebellum. Posterior fossa tumors (such as choroid plexus, fourth ventricle and cerebellar tumors) may cause tremors or a clumsy, uncoordinated pattern when walking. Nerve irritation caused by a tumor may cause pain at the base of the head.
            </div>
          </div>
          
          </div>
          
          <div class="col">
          <div class="card card" >
            <div class="card-body">
              <h5 class="card-title h3" style="color:#63110a;">Pineal Gland</h5>
              The pineal gland is located in the middle of the brain, in between the two brain hemispheres. The pineal gland secretes melatonin, which helps control circadian rhythm (24 hour biological cycle of sleep-wake patterns) and regulates certain reproductive hormones. Symptoms of pineal tumors include headaches, nausea, vomiting, and difficulty with eye movements, balance, and walking.
            </div>
          </div>
        </div>         
        

</div><!--row 1 end-->
</div><!--end title2 and last work-->

{% endblock symptom%}